/* Reset and base styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  border: 0;
  box-shadow: none;
  outline: none;
  background: #FFFFFF;
}
.stayfinder-card {
  width: 300px;
  padding: 20px;
  position: relative;
  border-radius: 16px;
}
.stayfinder-card::before{
  content: '';
  top: -19px;
  left: -61px;
  width: 122px;
  height: 94px;
  position: absolute;
  filter: blur(125px);
  background: rgba(6, 119, 255, 0.60);

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: end;
  gap: 7px;
}
.house-icon {
  position: relative;
  width: 27px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.house-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}
.logo-text {
  color: #000;
  font-weight: 700;
  font-style: normal;
  font-size: 21.333px;
  line-height: 28.373px; /* 133% */
  letter-spacing: -0.853px;
}
.logo-text > em{
  color: #000;
  font-weight: 300;
  font-style: normal;
  font-size: 21.333px;
  line-height: 28.373px;
  letter-spacing: -0.853px;
}
.status-tag {
  padding: 4px 8px;
  border-radius: 100px;
  color: #FFF;
  font-size: 10px;
  font-weight: 500;
  line-height: 120%; /* 12px */
  font-style: normal;
  text-transform: uppercase;
}
.status-tag.active {
  background-color: #5BBB4A;
}
.status-tag.not-supported {
  background-color: #F04438;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  font-style: normal;
}
.description.active-state {
  margin-bottom: 0;
}
.description.not-supported-state {
  margin-bottom: 20px;
}
.cta-button {
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 16px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  border-radius: 50px;
  margin-bottom: 8px;
  border-radius: 1000px;
  transition: all 0.2s ease;
  background: radial-gradient(276.33% 143.12% at 0.43% 125.6%, #AB29FF 0%, #0677FF 100%);
}
.cta-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(139, 92, 246, 0.35);
}
.cta-button:active {
  transform: translateY(0);
}
.tagline {
  font-size: 12px;
  color: #71717A;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  font-style: normal;
}