# WXT
.output
.wxt
*.tsbuildinfo

# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output

# Build
dist
build
*.zip

# Misc
.cache


